.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.add {
    width: 25px;
    height: 25px;
    border: thin solid black;
    padding: 5px;
    border-radius: 8px;
}