.wrapper {
    border: thin solid black;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.category img {
    width: 25px;
    height: 25px;
}