.wrapper {
    border: thin solid black;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
}

.wrapper:nth-child(n) {
    margin: 5px;
}

.category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.category img {
    width: 25px;
    height: 25px;
}

.iconItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: thin solid black;
    border-radius: 2px;
}