.operation {
    border: thin solid black;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.operation:nth-child(2n+1) {
    margin: 10px;
}

.expense {
    color: var(--expense-color);
}

.income {
    color: var(--income-color);
}