.operation {
    border: thin solid black;
    padding: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expense {
    color: var(--expense-color);
}

.income {
    color: var(--income-color);
}