.operation {
    border: thin solid black;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
}

.operation:nth-child(2n+1) {
    margin: 10px;
}

.titleWrapper {
    width: 60%;
}

.expense {
    color: var(--expense-color);
    width: 35%;
    text-align: right;
}

.income {
    color: var(--income-color);
    width: 35%;
    text-align: right;
}

.deleteWrapper {
    width: 5%;
    text-align: right;
}

.iconItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: thin solid black;
    border-radius: 2px;
    cursor: pointer;
}